<header class="navbar navbar-nav dash-header navbar-fixed-top">
	<div class="container-fluid">
		<div class="header clearfix">
        	<div class="navbar-header head-btn">
                <div class="logo">
                	<a href="#" class="navbar-brand">LOGO HERE</a>
               	</div>
                <div class="icon-left-bar">
                	<a href="#"><i aria-hidden="true" class="fa fa-ellipsis-v"></i></a>
				</div>
      		</div>
            <div class="navbar-right-section navbar-collapse collapse pull-right" id="navbar">
            	<ul class="header-right-menu">
                	<li class="user-profile">
                   		<span class="pro-img-right" style="background-image:url(img/male.png);">
                        </span> 
                        <a class="prof-img" href="#">  <span class="tab-hide1"> <%= t("user_name") %> </span><i class="fa fa-angle-down"></i> </a>
                        <ul class="dropdown-menu1" style="display: none;">
                            <li><a href="#"><span class="i-social-4"></span> <%= t("profile") %></a></li>
                            <li><a href="#"><span class="i-social-8"> </span> <%= t("edit_profile") %></a></li>
                            <li><a href="#"><span class="i-cogwheel"></span> <%= t("settings") %></a> </li>
                            <li><a href="#"><span class="i-arrows"> </span> <%= t("logout") %></a> </li>
                     	</ul>
            		</li>
                </ul>    
            </div>
        </div>
    </div>
</header>