<% provide(:title, "Blog") %>
<div id="page-wrapper" class="gray-bg">
	<%= render "admin/includes/header" %>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2></h2>
      <ol class="breadcrumb">
        <li>
          <a href="<%= admin_dashboard_url %>">Dashboard</a>
        </li>
        <li>
					<a href="<%= admin_blog_list_url %>">Manage Blog Post</a>
				</li>
				<li class="active">
					<strong>Add Blog Post</strong>
				</li>
      </ol>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Add Blog Post</h5>
                        </div>
                        <div class="ibox-content">
                          <%= form_for(:add_blog_post, url: admin_blogpost_create_url ,:html=>{:class=>"form-horizontal",:name=>'frm_add_blog_post',:id=>'frm_add_blog_post'}) do |f| %>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Language<span class="text-danger">*</span>:</label>
                            <div class="col-sm-10">
                              <%= f.select :lang_id,options_for_select([['Select Language', nil],['English', 17], ['Chinese', 12]]) ,{},{:class => 'form-control'} %>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Post Title<span class="text-danger">*</span>:</label>
                            <div class="col-sm-10">
                              <%= f.text_field :post_title, class: 'form-control', placeholder:'Post Title',:value =>'' %>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Post Short Description<span class="text-danger">*</span>:</label>
                            <div class="col-sm-10">
                              <%= f.text_area :post_short_description, class: 'form-control', placeholder:'Post Short Description',:value =>'' %>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Post Description<span class="text-danger">*</span>:</label>
                            <div class="col-sm-10">
                              <%= f.cktext_area :post_content, class: 'form-control', placeholder:'Page Description',:value =>'' %>
                              <label style="display: none;" class="error hidden" id="labelProductError">Please enter post description.</label>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Blog Image:</label>
                            <div class="col-sm-10">
                              <%= f.file_field :blog_image,:value =>'' %>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Status<span class="text-danger">*</span>:</label>
                            <div class="col-sm-10">
                              <%= f.select :status,{} ,{},{:class => 'form-control'} do %>
                                <%= options_for_select([['Select Status', ''], ['Published', 'Published'], ['UnPublished', 'UnPublished']]) %>
                              <% end %>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                              <%= f.submit "Save Changes", class: "btn btn-primary",id:"btnSubmit" %>
                            </div>
                          </div>
                        <% end %>
                        </div>
                    </div>
                </div>
            </div>
	</div>
	<%= render "admin/includes/footer" %>
</div>
<%= javascript_include_tag 'admin/jquery.validate-1.14.0' %>
<script type="text/javascript">
  $(document).ready(function () {
    jQuery("#frm_add_blog_post").validate({
      errorElement: "div",
      errorClass: "text-danger",
      rules: {
        'add_blog_post[lang_id]':{
          required: true
        },
        'add_blog_post[post_title]': {
          required: true
        },
        'add_blog_post[post_short_description]': {
          required: true,
          maxlength:200
        },
        'add_blog_post[post_content]': {
          required: true
        },
        'add_blog_post[page_title]':{
          required: true
        },
        'add_blog_post[post_tags]':{
          required: true
        },
        'add_blog_post[post_keyword]':{
          required: true
        },
        'add_blog_post[status]':{
          required:true
        },
        'add_blog_post[blog_image]':{
          accept: "jpg|jpeg|png|gif|bmp|tiff"
        }
      },
      messages: {
        'add_blog_post[lang_id]':{
          required: "Please select language."
        },
        'add_blog_post[post_title]': {
          required: "Please enter post title."
        },
        'add_blog_post[post_short_description]': {
          required:"Please enter page short description.",
          maxlength:"Please enter only {0} characters."
        },
        'add_blog_post[page_keyword]': {
          required:"Please enter page keywords."
        },
        'add_blog_post[post_content]': {
          required:"Please enter page description."
        },
        'add_blog_post[page_title]':{
          required:"Please enter page title."
        },
        'add_blog_post[post_tags]':{
          required:"Please enter post tag."
        },
        'add_blog_post[post_keyword]':{
          required:"Please enter post keyword."
        },
        'add_blog_post[status]':{
          required:"Please select status."
        },
        'add_blog_post[blog_image]':{
          accept:"Please upload jpg,jpeg,png,gif,bmp images only."
        }
      },
      submitHandler: function (form) {
        if ((jQuery.trim(jQuery("#cke_1_contents iframe").contents().find("body").html())).length < 12)
        {
          jQuery("#labelProductError").removeClass("hidden");
          jQuery("#labelProductError").show();
        }
        else {
          jQuery("#labelProductError").addClass("hidden");
          $('#btnSubmit').addClass('disabled');
          form.submit();
        }
      }
    });
    // CKEDITOR.replace('post_content',
    //     {
    //       toolbar: [
    //         { name: 'clipboard', items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo']},
    //         {name: 'editing', items: ['Format', 'Font', 'FontSize', 'TextColor', 'BGColor' , 'Bold', 'Italic', 'Underline', 'Strike', '-', 'RemoveFormat'] }
    //       ]
    //     });
  });
</script>
