<div id="page-wrapper" class="gray-bg">
	<%= render "admin/includes/header" %>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2></h2>
      <ol class="breadcrumb">
        <li>
          <a href="<%= admin_dashboard_url %>">Dashboard</a>
        </li>
        <li>
			<a href="<%= admin_email_template_list_url %>">Manage Email Template</a>
		</li>
		<li class="active">
			<strong>Update Email Template(Multilanguage)</strong>
		</li>
      </ol>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Update Email Template</h5>
                        </div>
                        <div class="ibox-content">
                          <%= form_for(:email_template, url: admin_update_email_template_multilang_url(:email_id => Base64.encode64(@email_template.id.to_s)) ,:html=>{:class=>"form-horizontal",:name=>'frm_create_email',:id=>'frm_create_email'}) do |f| %>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Title<span class="text-danger">*</span>:</label>
                            <div class="col-sm-10">
                              <%= f.text_field :title, class: 'form-control', :value => @email_template.email_template_title, id: 'title', :readonly => true %>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Subject<span class="text-danger">*</span>:</label>
                            <div class="col-sm-10">
                              <%= f.text_field :subject, class: 'form-control', :value => @email_template.email_template_subject, id: 'subject' %>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Content<span class="text-danger">*</span>:</label>
                            <div class="col-sm-10">
                              <%= f.cktext_area :content, class: 'form-control', :value => @email_template.email_template_content, id: 'content', rows: "10"  %>
                              <%= f.label "Please enter email template contents.",style:"display: none;", class: "error hidden", id: "labelProductError" %>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                              <!-- <button type="submit" class="btn btn-white">Cancel</button>
                              <button type="submit" class="btn btn-primary">Save changes</button> -->
                              <%= f.submit "Save Changes", class: "btn btn-primary",id:"btnSubmit" %>
                              <%= f.hidden_field :frm_type,  :value => 'edit' %>
			                      <%= f.hidden_field :old_title,  :value => @email_template.email_template_title %>
                            </div>
                          </div>
                        <% end %>
                        </div>
                    </div>
                </div>
            </div>
	</div>
	<%= render "admin/includes/footer" %>
</div>
<%= javascript_include_tag 'admin/jquery.validate-1.14.0' %>
<script>
	$(document).ready(function(){
    $("#frm_create_email").validate({
      onkeyup: false,
      errorElement: "div",
      errorClass: "text-danger",
      rules: {
        'email_template[title]': {
          required : true
    //       remote:{
				// url: "<%= admin_content_check_title_url %>",
				// type: "get",
				// data:{
				// 	 'cms_page[old_title]':jQuery('#cms_page_title').val()
    //             }
    //         }
        },
        'email_template[content]': {
          required : true
        },
		'email_template[subject]': {
			required: true
		}
      },
      messages: {
        'email_template[title]': {
          required: "Please enter title.",
          remote:"Entered title already exists."
        },
        'email_template[content]': {
          required: "Please enter content."
        },                     
		'email_template[subject]': {
			required: "Please enter subject."
		}
      },
      submitHandler: function(form) {
      		if ((jQuery.trim(jQuery("#cke_1_contents iframe").contents().find("body").html())).length < 12)
			{
				jQuery("#labelProductError").removeClass("hidden");
				jQuery("#labelProductError").show();
				return false;
			}
			else {
				jQuery("#labelProductError").addClass("hidden");
				// do other things for a valid form
        $('#btnSubmit').attr("disabled","disabled");
        $('#btnSubmit').html("<i class='fa fa-spinner fa-spin'></i>");
          form.submit();
          return true;
			}
      }
    });
	});
</script>
