<% provide(:title, "User") %>
<div id="page-wrapper" class="gray-bg">
	<%= render "admin/includes/header" %>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2></h2>
      <ol class="breadcrumb">
        <li>
          <a href="<%= admin_dashboard_url %>">Dashboard</a>
        </li>
        <li>
					<a href="<%= admin_user_list_url(:type => @user_type) %>">Manage <%= @page_title %></a>
				</li>
				<li class="active">
					<strong>Add <%= @page_title %></strong>
				</li>
      </ol>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Add <%= @page_title %></h5>
                        </div>
                        <div class="ibox-content">
                          <%= form_for(:user, url: admin_create_user_url ,:html=>{:class=>"form-horizontal",:name=>'frm_create_user',:id=>'frm_create_user'}) do |f| %>
                          <%  %>
                          <% if @user_type == "2" or @user_type == "3" %>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">First Name<span class="text-danger">*</span>:</label>
                            <div class="col-sm-10">
                              <%= f.text_field :first_name, class: 'form-control', :value => '', id: 'first_name' %>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Last Name<span class="text-danger">*</span>:</label>
                            <div class="col-sm-10">
                              <%= f.text_field :last_name, class: 'form-control', :value => '', id: 'last_name' %>
                            </div>
                          </div>
                          <!-- <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Username<span class="text-danger">*</span>:</label>
                            <div class="col-sm-10">
                              <%= f.text_field :username, class: 'form-control', :value => '', id: 'username' %>
                            </div>
                          </div> -->
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Email ID<span class="text-danger">*</span>:</label>
                            <div class="col-sm-10">
                              <%= f.text_field :user_email, class: 'form-control', :value => '', id: 'user_email' %>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Password<span class="text-danger">*</span>:</label>
                            <div class="col-sm-10">
                              <%= f.password_field :password, class: 'form-control', :value => '', id: 'password' %>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Confirm Password<span class="text-danger">*</span>:</label>
                            <div class="col-sm-10">
                              <%= f.password_field :confirmation, class: 'form-control', :value => '', id: 'confirmation' %>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">User Status</label>
                            <div class="col-sm-10">
                              <%= f.select(:user_status, options_for_select([["Active", "1"], ["Inactive", "0"], ["Banned", "2"]],"1"),{}, class: 'form-control')%>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          
                          <% else %>

                            <div class="form-group">
                            <label class="col-sm-2 control-label">Name<span class="text-danger">*</span>:</label>
                            <div class="col-sm-10">
                              <%= f.text_field :company_name, class: 'form-control', :value => '', id: 'company_name' %>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Contact Email<span class="text-danger">*</span>:</label>
                            <div class="col-sm-10">
                              <%= f.text_field :contact_email, class: 'form-control', :value => '', id: 'contact_email' %>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Enquiry Email<span class="text-danger">*</span>:</label>
                            <div class="col-sm-10">
                              <%= f.text_field :enquiry_email, class: 'form-control', :value => '', id: 'enquiry_email' %>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Contact Mobile<span class="text-danger">*</span>:</label>
                            <div class="col-sm-10">
                              <%= f.text_field :contact_mobile, class: 'form-control', :value => '', id: 'contact_mobile' %>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Website<span class="text-danger">*</span>:</label>
                            <div class="col-sm-10">
                              <%= f.text_field :website, class: 'form-control', :value => '', id: 'website' %>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Phone No.<span class="text-danger">*</span>:</label>
                            <div class="col-sm-10">
                              <%= f.text_field :phone_no, class: 'form-control', :value => '', id: 'phone_no' %>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Post Address<span class="text-danger">*</span>:</label>
                            <div class="col-sm-10">
                              <%= f.text_field :post_address, class: 'form-control', :value => '', id: 'post_address' %>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Paypal Account<span class="text-danger">*</span>:</label>
                            <div class="col-sm-10">
                              <%= f.text_field :paypal_acc, class: 'form-control', :value => '', id: 'paypal_acc' %>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>

                          <% end %>
                          <% if @user_type == "3" %>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Promotor Commision<span class="text-danger">*</span>:</label>
                            <div class="col-sm-2">
                              <%= f.text_field :commision, class: 'form-control', :value => '', id: 'phone_no' %>
                              <strong>In percentage(%)</strong>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Promocode Status<span class="text-danger">*</span>:</label>
                            <div class="col-sm-10">
                              <%= f.select(:promocode_privacy, options_for_select([["Active", "1"], ["Inactive", "0"]]),{}, class: 'form-control')%>
                            </div>
                          </div>
                          <% end %>

                          <!-- <div class="form-group">
                            <label class="col-sm-2 control-label">User Status</label>
                            <div class="col-sm-10">
                              <%#= f.select(:user_status, options_for_select([["Active", "1"], ["Inactive", "0"], ["Banned", "2"]],"1"),{}, class: 'form-control')%>
                            </div>
                          </div> -->
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                          <%= f.hidden_field :user_type, :value => @user_type %>
                            <div class="col-sm-4 col-sm-offset-2">
                              <%= f.submit "Save Changes", class: "btn btn-primary",id:"btnSubmit" %>
                            </div>
                          </div>
                        <% end %>
                        </div>
                    </div>
                </div>
            </div>
	</div>
	<%= render "admin/includes/footer" %>
</div>
<%= javascript_include_tag 'admin/jquery.validate-1.14.0' %>
<script>
	$(document).ready(function(){
    $("#frm_create_user").validate({
      onkeyup: false,
      errorElement: "div",
      errorClass: "text-danger",
      rules: {
        'user[first_name]': {
          required : true
        },
        'user[last_name]': {
          required : true
        },
        /*'user[address]': {
          required : true
        },
        'user[zip_code]': {
          required : true
        },*/
        'user[user_email]': {
          required : true,
          email:true,
          remote:{
            url:"<%= admin_check_user_email_url %>",
            method:"get"
          }
        },
        'user[username]': {
          required : true,
          remote:{
            url:"<%= admin_check_user_name_url %>",
            method:"get"
          }
        },
        /*'user[phone_number]': {
          required : true
        },
        'user[country_id]':{
          required:true
        },
        'user[state_id]':{
          required:true
        },
        'user[city_id]':{
          required:true
        },*/
        "user[password]":{
          required:true,
          minlength: 8
        },
        "user[confirmation]":{
          required:true,
          equalTo:'#password'
        },
        "user[company_name]":{
          required:true
        },
        "user[contact_email]":{
          required:true,
          email:true,
          remote:{
            url:"<%= admin_check_user_email_url %>",
            method:"get"
          }
        },
        "user[enquiry_email]":{
          required:true,
          email: true,
          remote:{
            url:"<%= admin_check_user_email_url %>",
            method:"get"
          }
        },
        "user[contact_mobile]":{
          required:true,
          maxlength: 12,
          number: true
        },
        "user[phone_no]":{
          number:true
        },
        "user[paypal_acc]":{
          required:true
        },
        "user[user_status]":{
          required:true
        },
        "user[commision]":{
          required:true,
          number: true,
          max: 100

        },
        "user[commision_status]":{
          required:true
        }

      },
      messages: {
        'user[first_name]': {
          required: "Please enter first name."
        },
        'user[last_name]': {
          required: "Please enter last name."
        },
        /*'user[address]': {
          required: "Please enter address."
        },
        'user[zip_code]': {
          required: "Please enter your zip code."
        },*/
        'user[user_email]': {
          required: "Please enter your email.",
          email:"Please enter a valid email.",
          remote:"Entered email already exists."
        },
        'user[username]': {
          required: "Please enter your username.",
          remote:"Entered username already exists."
        },
        /*'user[phone_number]': {
          required: "Please enter your phone number."
        },
        'user[country_id]':{
          required: "Please select country."
        },
        'user[state_id]':{
          required: "Please select state."
        },
        'user[city_id]':{
          required: "Please select city."
        },*/
        "user[password]":{
          required:"Please enter password.",
          minlength:"Please enter atleast 8 characters."
        },
        "user[confirmation]":{
          required:"Please enter the confirm password.",
          equalTo:"Password and confirm password do not match."
        },
        "user[company_name]":{
          required:"Please enter name."
        },
        "user[contact_email]":{
          required: "Please enter your email.",
          email:"Please enter a valid email.",
          remote:"Entered email already exists."
        },
        "user[enquiry_email]":{
          required: "Please enter your email.",
          email:"Please enter a valid email.",
          remote:"Entered email already exists."
        },
        "user[contact_mobile]":{
          required: "Please enter contact mobile.",
          maxlength: "Contact number should be less than 12 digit.",
          number: "Please enter only number."
        },
        "user[phone_no]":{
         number: "Please enter only number."
        },
        "user[paypal_acc]":{
          required: "Please enter your paypal account."
        },
        "user[user_status]":{
          required: "Please select status"
        },
        "user[commision]":{
          required:"Please enter commision",
          number: "Please enter only digits",
          max: "Commision should be less than or equal to 100"

        },
        "user[commision_status]":{
          required:"Please select promocode privacy"
        }

      },
      submitHandler: function(form) {
        // do other things for a valid form
        $('#btnSubmit').attr("disabled","disabled");
        $('#btnSubmit').html("<i class='fa fa-spinner fa-spin'></i>");
          form.submit();
          return true;
      }
    });
	});
</script>
