<% provide(:title, "Quiz") %>
<div id="page-wrapper" class="gray-bg">
	<%= render "admin/includes/header" %>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2></h2>
      <ol class="breadcrumb">
        <li>
          <a href="<%= admin_dashboard_url %>">Dashboard</a>
        </li>
        <li>
         <a href="<%= admin_quiz_list_url %>">Manage Quiz</a>
       </li>
       <li class="active">
         <strong>Add Question</strong>
       </li>
     </ol>
   </div>
   <div class="col-lg-2">
   </div>
 </div>
 <div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Add Question</h5>
        </div>
        <div class="ibox-content">
          <%= form_for(:add, url: admin_create_question_url ,:html=>{:class=>"form-horizontal",:name=>'frm_question',:id=>'frm_question'}) do |f| %>
          
          <div class="form-group">
            <label class="col-sm-2 control-label">Question<span class="text-danger">*</span>:</label>
            <div class="col-sm-10">
              <%= f.text_area :question, class: 'form-control', :value => '', id: 'question' %>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label">Option 1<span class="text-danger">*</span>:</label>
            <div class="col-sm-10">
              <%= f.text_area :option1, class: 'form-control', :value => '', id: 'option1' %>
            </div>
          </div>  
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Option 2<span class="text-danger">*</span>:</label>
            <div class="col-sm-10">
              <%= f.text_area :option2, class: 'form-control', :value => '', id: 'option2' %>
            </div>
          </div>  
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Option 3<span class="text-danger">*</span>:</label>
            <div class="col-sm-10">
              <%= f.text_area :option3, class: 'form-control', :value => '', id: 'option3' %>
            </div>
          </div>  
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Option 4<span class="text-danger">*</span>:</label>
            <div class="col-sm-10">
              <%= f.text_area :option4, class: 'form-control', :value => '', id: 'option4' %>
            </div>
          </div>  
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Correct Answer<span class="text-danger">*</span>:</label>
            <div class="col-sm-10">
              <%= f.select :answer,options_for_select([['Select Answer', nil],['1', '1'], ['2', '2'],['3', '3'],['4', '4']]) ,{},{:class => 'form-control'} %>
            </div>
          </div>  
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Status<span class="text-danger">*</span>:</label>
            <div class="col-sm-10">
              <%= f.select :status,options_for_select([['Select Status', nil],['Active', '1'], ['Inactive', '0']]) ,{},{:class => 'form-control'} %>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <%= f.submit "Save Changes", class: "btn btn-primary",id:"btnSubmit" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "admin/includes/footer" %>
</div>
<%= javascript_include_tag 'admin/jquery.validate-1.14.0' %>
<script>
	$(document).ready(function(){
    $("#frm_question").validate({
      onkeyup: false,
      errorElement: "div",
      errorClass: "text-danger",
      rules: {
        'add[lang_id]': {
          required : true
        },
        'add[question]': {
          required : true
        },
        'add[answer]': {
          required : true
        },
        'add[option1]': {
          required : true
        },
        'add[option2]': {
          required : true
        },
        'add[option3]': {
          required : true
        },
        'add[option4]': {
          required : true
        },
        'add[status]': {
          required : true
        }
      },
      messages: {
        'add[lang_id]': {
          required: "Please select language."
        },
        'add[question]': {
          required: "Please enter question."
        },
        'add[answer]': {
          required: "Please select correct answer."
        },
        'add[option1]': {
          required: "Please enter option 1."
        },
        'add[option2]': {
          required: "Please enter option 2."
        },
        'add[option3]': {
          required: "Please enter option 3."
        },
        'add[option4]': {
          required: "Please enter option 4."
        },
        'add[status]': {
          required: "Please select status."
        }
      },
      submitHandler: function(form) {
        // do other things for a valid form
        $('#btnSubmit').attr("disabled","disabled");
        $('#btnSubmit').html("<i class='fa fa-spinner fa-spin'></i>");
        form.submit();
        return true;
      }
    });
  });
</script>
