<% provide(:title, "Category") %>
<div id="page-wrapper" class="gray-bg">
	<%= render "admin/includes/header" %>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2></h2>
      <ol class="breadcrumb">
        <li>
          <a href="<%= admin_dashboard_url %>">Dashboard</a>
        </li>
        <li>
			<a href="<%= admin_subcategory_list_url(:cat_id => @cat_id) %>">Manage Subcategory</a>
		</li>
		<li class="active">
			<strong>Update Category</strong>
		</li>
      </ol>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Update Category</h5>
                        </div>
                        <div class="ibox-content">
                          <%= form_for(:subcategory, url: admin_update_subcategory_url(:subcat_id => Base64.encode64(@subcategory.id.to_s), :cat_id => @cat_id.to_s) ,:html=>{:class=>"form-horizontal",:name=>'frm_subcategory',:id=>'frm_subcategory'}) do |f| %>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Category Name(English)<span class="text-danger">*</span>:</label>
                            <div class="col-sm-9">
                              <%= f.text_field :category_name, class: 'form-control', :value => @subcategory.category_name, id: 'category_name' %>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Category Name(Chinese)<span class="text-danger">*</span>:</label>
                            <div class="col-sm-9">
                              <%= f.text_field :category_name_ch, class: 'form-control', :value => @subcategory.category_name_ch, id: 'category_name_ch' %>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                          <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                              <%= f.submit "Save Changes", class: "btn btn-primary",id:"btnSubmit" %>
                              <%= f.hidden_field :frm_type,  :value => 'edit' %>
                              <%= f.hidden_field :old_name,  :value => @subcategory.category_name %>
                            </div>
                          </div>
                        <% end %>
                        </div>
                    </div>
                </div>
            </div>
	</div>
	<%= render "admin/includes/footer" %>
</div>
<%= javascript_include_tag 'admin/jquery.validate-1.14.0' %>
<script>
	$(document).ready(function(){
    $("#frm_subcategory").validate({
      onkeyup: false,
      errorElement: "div",
      errorClass: "text-danger",
      rules: {
        'subcategory[category_name]': {
          required : true,
          remote:{
          url: "<%= admin_check_subcategory_name_url %>",
          type: "get",
          data:{
            'subcategory[type]':jQuery("#subcategory_frm_type").val(),
            'subcategory[old_category_name]':jQuery('#subcategory_old_name').val()
                    }
              }
        },
        'subcategory[category_name_ch]': {
          required : true
          // remote:{
          // url: "<%= admin_check_subcategory_name_url %>",
          // type: "get",
          // data:{
          //   'subcategory[type]':jQuery("#subcategory_frm_type").val(),
          //   'subcategory[old_category_name]':jQuery('#subcategory_old_name').val()
          //           }
          //     }
        }
     },
     messages: {
      'subcategory[category_name]': {
        required: "Please enter category name.",
        remote: "Entered category already exist, please try another."
      },
      'subcategory[category_name_ch]': {
        required: "Please enter category name."
        // remote: "Entered category already exist, please try another."
      }
   },
   submitHandler: function(form) {
				// do other things for a valid form
        $('#btnSubmit').attr("disabled","disabled");
        $('#btnSubmit').html("<i class='fa fa-spinner fa-spin'></i>");
        form.submit();
        return true;
    }
  });
  });
</script>
