<% provide(:title, "Category") %>
<div id="page-wrapper" class="gray-bg">
  <%= render "admin/includes/header" %>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2></h2>
      <ol class="breadcrumb">
        <li>
          <a href="<%= admin_dashboard_url %>">Dashboard</a>
        </li>
        <li class="active">
          <strong>Manage Category</strong>
        </li>
      </ol>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
  <%= stylesheet_link_tag 'admin/plugins/dataTables/datatables.min.css' %>
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Manage Category</h5>
            <div class="ibox-tools">
              <!-- <a href="<%= admin_add_category_url %>" class="btn btn-primary btn-xs" title="Add Category"> <i class="fa fa-plus"></i> Add Category</a> -->
            </div>
          </div>
          <div class="ibox-content">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover dataTables-example" >
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Category Name</th>
                    <th>Categoy Icon</th>
                    <th>Created At</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <% t = Time.now %>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                  <% @i = 1 %>
                  <%
                    @categories.each do |e|
                  %>
                  <tr>
                    <td width="10%"># <%= @i %></td>
                    <td >
                    <% if e.trans_categories.blank? == false %>
                    <%= e.trans_categories[0].category_name %>                      
                    <% end %>
                    </td>
                   <!--  <td >
                      <% if e.parent_id == 0 %>
                          ----
                        <% elsif e.parent_id.nil? == false
                           %>
                          <%
                            @sub_category = TransCategory.where(:category_id_fk => e.parent_id)
                          %>
                          <%= @sub_category[0].category_name %>
                        <% end %>
                    </td> -->
                    <td>
                    <% if e.trans_categories.blank? == false %>
                     <%= image_tag("/category_icon/"+(e.trans_categories[0].category_icon) ,:alt => "category_icon",:width => "100") %> 
                     <% else %> 
                      <%= "---" %>                                   
                    <% end %>
                     
                    </td>
                    <td>
                      <% if e.created_at %>
                      <%= e.created_at.strftime(@date_format) %>
                      <% else %>
                      ---
                      <% end %>
                    </td>
                    <td class="">
                      <%= link_to admin_edit_category_url(:cat_id => Base64.encode64(e.id.to_s)), :class=>'btn btn-success btn-xs', :title =>"Edit Email Template" do %>
                      <i class="fa fa-pencil-square"></i> Edit
                      <% end %>
                      <%#= link_to admin_edit_multilang_category_url(:cat_id => Base64.encode64(e.id.to_s)), :class=>'btn btn-success btn-xs', :title =>"Multilanguage" do %>
                      <!-- <i class="fa fa-pencil-square"></i> Multilanguage -->
                      <%# end %>
                      <%= link_to admin_subcategory_list_url(:cat_id => Base64.encode64(e.id.to_s)), :class=>'btn btn-success btn-xs', :title =>"Subcategory" do %>
                      <i class="fa fa-list"></i> Subcategory
                      <% end %>
                      <%#= link_to admin_destroy_category_url(:cat_id => Base64.encode64(e.id.to_s)), :class=>'btn btn-danger btn-xs', :title =>"Delete Category", :onClick => 'return confirm("Are you sure that you want to delete this category?");' do %>
                      <!-- <i class="glyphicon glyphicon-trash"></i> Delete -->
                      <%# end %>
                    </td>
                  </tr>
                  <% @i = @i + 1 %>
                  <% end %>
                </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
</div>
</div>
<%= render "admin/includes/footer" %>
</div>
<%= javascript_include_tag 'admin/plugins/dataTables/datatables.min.js' %>
<script>
$(document).ready(function(){
  $('.dataTables-example').DataTable({
});
});
</script>
