<% provide(:title, t("my_order")) %>
<section class="dashboard-middle-sec">
  <div class="dash-left-sec">
  	<div class="dash-left-cross">
			<a href="javascript:void(0)" class="btn btn-slideright" "=""><span class="i-cross"></span></a>
		</div>
    <ul class="left-menu-list">
      <li><a href="<%= user_dashboard_url %>" title="<%= t("dashboard") %>"><span class="i-house"> </span></a></li>
      <li> <a href="<%= edit_user_email_url(:user_id => Base64.encode64(@userdata.id.to_s)) %>" title="<%= t("account_setting") %>"><span class="i-cogwheel"> </span></a></li>
      <li><a href="<%= edit_profile_url(:user_id => Base64.encode64(@userdata.id.to_s)) %>" title="<%= t("edit_profile") %>"><span class="i-interface"></span></a></li>
       <li><a href="<%= user_order_url %>" title="<%= t("my_order") %>" ><span class="fa fa-table"></span></a></li>
      <% if @userdata.trans_user_informations.user_type == "2" %>
          <!-- <li><a href="#"><span class="i-tool2"></span></a></li> -->
          <!-- <li><a class="active" href="<%= user_order_url %>" title="<%= t("my_order") %>" ><span class="fa fa-table"></span></a></li> -->
      <% elsif @userdata.trans_user_informations.user_type == "3" %>
          <li><a href="<%= sale_chart_url %>" title="<%= t("sales_performance") %>" ><span class="i-business-12"></span></a></li>
          <li><a href="<%= promoter_wallet_url %>" class="" title="<%= t("my_wallet") %>" ><span class="fa fa-usd"></span></a></li>
      <% end %>
      <li><a href="<%= user_transactions_url %>" title="<%= t("transaction_history") %>" ><span class="fa fa-money"></span></a></li>
    </ul>
  </div>
  <div class="dash-right-sec">
    <div class="common-right-sec">
      <div class="edit-profile-sec clearfix">
        <div class="ttl-edit-prof">
          <%= t("my_order") %>
        </div>
        <div class="email-setting">
		<div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th><%= t("insurance_company_name") %></th>
              <th><%= t("amount") %>($)</th>
              <th><%= t("status") %></th>
              <th><%= t("date") %></th>
			        <th><%= t("action") %></th>
            </tr>
            </thead>
            <tbody>
            <% if @order_list.blank? == false %>
                <% @order_list.each do |o| %>
                    <tr>
                      <td><%= o.cmp_name %></td>
                      <td><%= o.order_amt %></td>
                      <td><% if o.payment_status ==  "0" %>
                            <%= t("unpaid") %>
                        <% else %>
                            <%= t("paid") %>
                        <% end %>
                      </td>
                      <td><%= o.created_at.strftime(@date_format) %></td>
                      <td class="">
                        <%= link_to order_view_url(:order_id => Base64.encode64(o.id.to_s)), :class=>'btn btn-success btn-xs', :title => t('my_order_details') do %>
                            <i class="fa fa-eye"></i> <%= t('my_order_details') %>
                        <% end %>
                      </td>
                    </tr>
                <% end %>
            <% else %>
            <tr>
              <td colspan="5">
                <%= t("record_not_found") %>
              </td>
            </tr>    
            <% end %>
            </tbody>
          </table>
		  </div>
        </div>
      </div>
    </div>
    <footer id="footer" class="footer-sec">
      <div class="footer-bottom clearfix">
        <div class="pull-left">
          <ul class="foot-menu">
            <li><a href="<%= cms_page_url(:page_name => 'partners')%>" <% if segment(2) == "partners"%> class="active" <% end %> ><%= t("partners") %></a></li>
            <li><a href="<%= blog_url %>" <% if segment(1) == "blog"%> class="active" <% end %> ><%= t("blog") %></a></li>
            <li><a href="<%= cms_page_url(:page_name => 'privacy')%>" <% if segment(2) == "privacy"%> class="active" <% end %> ><%= t("privacy") %></a></li>
            <li><a href="<%= cms_page_url(:page_name => 'about-us')%>" <% if segment(2) == "about-us"%> class="active" <% end %> ><%= t("about_us") %></a></li>
            <li><a href="<%= contactus_url %>" <% if segment(1) == "contact-us"%> class="active" <% end %> ><%= t("contact_us") %></a></li>
          </ul>
        </div>
        <% getGlobalData %>
        <p class="pull-right"> &copy; 2016 - 2017 | <a href="#">www.<%= @site_title %>.com</a> | All Rights Reserved. </p>
      </div>
    </footer>
  </div>
</section>
<%= javascript_include_tag 'admin/jquery.validate-1.14.0' %>
<%
  if @my_wallet.nil? == false
    @my_wallet = @my_wallet.credit_amount
  else
    @my_wallet = 1
  end
%>
<script>
    $(document).ready(function(){
        $("#frm_pay_request").validate({
            onkeyup: false,
            errorElement: "div",
            errorClass: "text-danger",
            rules: {
                'pay_request[req_amount]': {
                    required : true,
                    // min : 1
                    max: <%=  @my_wallet %>
                }
            },
            messages: {
                'pay_request[req_amount]': {
                    required: "Please enter withdrawal amount",
                    max: "Please enter value less than balance amount"
                }
            },
            submitHandler: function(form) {
                $('#btnSubmit').attr("disabled","disabled");
                $('#btnSubmit').html("<i class='fa fa-spinner fa-spin'></i>");
                form.submit();
                return true;
            }
        });

    });
</script>