<% provide(:title,'Reset Password') %>
<div style="background-image:url(assets/front/img/about_us_breadcrumb.jpg);" class="contact-banner">
  <div class="container">
    <div class="contact-main-ttl-sec">
      <div class="ttl-contact">
        Reset password
      </div>
      <ul class="breadcrumba">
        <li><a href="<%= root_url %>">Home</a></li>
        <li class="active">Reset password</li>
      </ul>
    </div>
  </div>
</div>
<section class="middlesec inner-pages">
  <div class="basic-comparison-section">
    <div class="container">
      <div class="reset-content">
        <!-- <form> -->
        <%= form_for(:reset_password, url: reset_password_save_url(),:html=>{:name=>'frm_reset_password', :id=>'frm_reset_password', :autocomplete =>"off"}) do |f| %>
          <div class="form-group">
            <div class="icon-right relative">                     
              <!-- <input class="form-control" placeholder="Enter your new password" type="text"> -->
              <%= f.password_field :password, class: "form-control", placeholder: t("enter_your_new_password") %> 
            </div>
          </div>
          <div class="form-group">
            <div class="icon-right relative">
              <!-- <input class="form-control" placeholder="Confirmed your new password" type="text"> -->
              <%= f.password_field :confirm_password, class: "form-control", placeholder: t("reenter_password") %>
              <%= f.hidden_field :user_email, id: "user_email", :value => @user_data.user_email %>
            </div>
          </div>
          <div class="t-btn">
            <!-- <a href="#" class="btn btn-orange">Reset your password</a> -->
            <%= button_tag t("reset_your_password"), class:'btn btn-orange',name:'btnSubmit', id:'btnSubmit' %>
            <a href="<% root_url %>" class="btn btn-black"><%= t("cancel") %></a>
          </div>
        <!-- </form> -->
        <% end %>
      </div>
    </div>
  </div>
</section>
<%= javascript_include_tag 'admin/jquery.validate-1.14.0' %>
<script>
  $(document).ready(function(){
    $("#frm_reset_password").validate({
      onkeyup: false,
      errorElement: "div",
      errorClass: "text-danger",
      rules: {
        'reset_password[password]': {
          required : true
        },
        'reset_password[confirm_password]': {
          required : true,
          equalTo : '#password'
        }
      },
      messages: {
        'reset_password[password]': {
          required: "<%= t("reset_password_val") %>"
        },
        'reset_password[confirm_password]': {
          required: "<%= t("reset_confirm_password_val") %>",
          equalTo : "<%= t("confirm_password_equal_val") %>"
        }
      },
      submitHandler: function(form) {
        // do other things for a valid form
        $('#btnSubmit').attr("disabled","disabled");
        $('#btnSubmit').html("<i class='fa fa-spinner fa-spin'></i>");
        form.submit();
        return true;
      }
    });
  });
</script>