<% provide(:title, "Newsletter") %>
<div id="page-wrapper" class="gray-bg">
  <%= render "admin/includes/header" %>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2></h2>
      <ol class="breadcrumb">
        <li>
          <a href="<%= admin_dashboard_url %>">Dashboard</a>
        </li>
        <li class="active">
          <strong>Manage Subscribe Newsletter</strong>
        </li>
      </ol>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
  <%= stylesheet_link_tag 'admin/plugins/dataTables/datatables.min.css' %>
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Manage Subscribe Newsletter</h5>
            <div class="ibox-tools">
            <!--   <a href="<%= admin_newsletter_add_url %>" class="btn btn-primary btn-xs" title="Add Newletter"> <i class="fa fa-plus"></i> Add Newletter</a> -->
            </div>
          </div>
          <div class="ibox-content">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover dataTables-example" >
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>User Email</th>
                    <th>Subscribe Status</th>
                    <th>Created On</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <% t = Time.now %>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                  <% @i = 1 %>
                  <% if @newletter.blank? == false %>
                  <% @newletter.each do |f| %>
                  <tr>
                    <td width="10%"># <%= @i %></td>
                    <td ><%= f.user_email %></td>
                    <td >
                    	<div id="active_div#{f.id}"  <% if f.status == '1' %>style="display:inline-block" <% else %> style="display:none;" <% end %>>
							<%= link_to "Active", "javascript:void(0);",class: "btn btn-primary btn-xs", title: "Click to Change Status", onClick: "changeStatus('#{f.id}', '0');" %>		
						</div>
						<div id="blocked_div#{f.id}" <% if f.status == '0' %>style="display:inline-block" <% else %> style="display:none;" <% end %>>
							<%= link_to "Inactive", "javascript:void(0);",class: "label label-danger", title: "Click to Change Status", onClick: "changeStatus('#{f.id}', '1');" %>			
						</div>
                    </td>
                    <td>
                      	<% if f.created_at %>
                      <%= f.created_at.strftime(@date_format) %>
                      <% else %>
                      ---
                      <% end %>
                    </td>
                    <td class="">
                      <%= link_to admin_subscriber_destroy_url(:sub_id => Base64.encode64(f.id.to_s)), :class=>'btn btn-danger btn-xs', :title =>"Delete Newsletter Subscriber", :onClick => 'return confirm("Are you sure that you want to delete this newsletter subscriber?");' do %>
                      <i class="glyphicon glyphicon-trash"></i> Delete
                      <% end %>
                    </td>
                  </tr>
                  <% @i = @i + 1 %>
                  <% end %>
                  <% end %>
                </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
</div>
</div>
<%= render "admin/includes/footer" %>
</div>
<%= javascript_include_tag 'admin/plugins/dataTables/datatables.min.js' %>
<script>
$(document).ready(function(){
  $('.dataTables-example').DataTable({
});
});
</script>
<script type="text/javascript">
	function changeStatus(sub_id, status)
	{                
		/* changing the user status*/
		var obj_params = new Object();
		obj_params.sub_id = sub_id;
		obj_params.status = status;
		jQuery.get("<%= admin_subscriber_change_status_url %>", obj_params, function(msg) {
			if (msg.error == "1")
			{
				alert(msg.error_message);
			}
			else
			{
				location.href=location.href;                        
			}
		}, "json");

	}
</script>